#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1381       0    false       0      64 0.80000 
        1      1452       0    false       0      64 0.80000 
        2      1433       0    false       0      64 0.80000 
        3      1355       0    false       0      64 0.80000 
        4      1401       0    false       0      64 0.80000 
        5     90018       0    false       0      64 0.80000 
        6     90086       0    false       0      64 0.80000 
        7     90097       0    false       0      64 0.80000 
        8     90007       0    false       0      64 0.80000 
        9     90029       0    false       0      64 0.80000 
       10      1389       0    false       0      64 0.80000 
       11      1501       0    false       0      64 0.80000 
       12      1479       0    false       0      64 0.80000 
       13      1439       0    false       0      64 0.80000 
       14      1453       0    false       0      64 0.80000 
       15      1418       0    false       0      64 0.80000 
       16      1401       0    false       0      64 0.80000 
       17      1378       0    false       0      64 0.80000 
       18      1397       0    false       0      64 0.80000 
       19      1424       0    false       0      64 0.80000 
       20      1403       0    false       0      64 0.80000 
       21      1488       0    false       0      64 0.80000 
       22      1396       0    false       0      64 0.80000 
       23      1451       0    false       0      64 0.80000 
       24      1459       0    false       0      64 0.80000 
       25      1469       0    false       0      64 0.80000 
       26      1416       0    false       0      64 0.80000 
       27      1330       0    false       0      64 0.80000 
       28      1431       0    false       0      64 0.80000 
       29      1420       0    false       0      64 0.80000 
       30      1474       0    false       0      64 0.80000 
       31      1375       0    false       0      64 0.80000 
       32      1451       0    false       0      64 0.80000 
       33      1526       0    false       0      64 0.80000 
       34      1480       0    false       0      64 0.80000 
       35      1471       0    false       0      64 0.80000 
       36      1341       0    false       0      64 0.80000 
       37      1441       0    false       0      64 0.80000 
       38      1449       0    false       0      64 0.80000 
       39      1430       0    false       0      64 0.80000 

