#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0     90081       0    false       0      64 0.80000 
        1     89824       0    false       0      64 0.80000 
        2     90054       0    false       0      64 0.80000 
        3     90050       0    false       0      64 0.80000 
        4     90033       0    false       0      64 0.80000 
        5      1420       0    false       0      64 0.80000 
        6      1384       0    false       0      64 0.80000 
        7      1433       0    false       0      64 0.80000 
        8      1404       0    false       0      64 0.80000 
        9      1408       0    false       0      64 0.80000 
       10      1424       0    false       0      64 0.80000 
       11      1440       0    false       0      64 0.80000 
       12      1456       0    false       0      64 0.80000 
       13      1403       0    false       0      64 0.80000 
       14      1397       0    false       0      64 0.80000 
       15      1428       0    false       0      64 0.80000 
       16      1484       0    false       0      64 0.80000 
       17      1388       0    false       0      64 0.80000 
       18      1430       0    false       0      64 0.80000 
       19      1380       0    false       0      64 0.80000 
       20      1467       0    false       0      64 0.80000 
       21      1421       0    false       0      64 0.80000 
       22      1440       0    false       0      64 0.80000 
       23      1355       0    false       0      64 0.80000 
       24      1448       0    false       0      64 0.80000 
       25      1382       0    false       0      64 0.80000 
       26      1438       0    false       0      64 0.80000 
       27      1444       0    false       0      64 0.80000 
       28      1426       0    false       0      64 0.80000 
       29      1428       0    false       0      64 0.80000 
       30      1480       0    false       0      64 0.80000 
       31      1416       0    false       0      64 0.80000 
       32      1464       0    false       0      64 0.80000 
       33      1436       0    false       0      64 0.80000 
       34      1388       0    false       0      64 0.80000 
       35      1427       0    false       0      64 0.80000 
       36      1467       0    false       0      64 0.80000 
       37      1357       0    false       0      64 0.80000 
       38      1470       0    false       0      64 0.80000 
       39      1384       0    false       0      64 0.80000 

