#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1501       0    false       0      64 0.80000 
        1      1445       0    false       0      64 0.80000 
        2      1418       0    false       0      64 0.80000 
        3      1404       0    false       0      64 0.80000 
        4      1475       0    false       0      64 0.80000 
        5      1436       0    false       0      64 0.80000 
        6      1394       0    false       0      64 0.80000 
        7      1425       0    false       0      64 0.80000 
        8      1405       0    false       0      64 0.80000 
        9      1399       0    false       0      64 0.80000 
       10      1468       0    false       0      64 0.80000 
       11      1480       0    false       0      64 0.80000 
       12      1460       0    false       0      64 0.80000 
       13      1334       0    false       0      64 0.80000 
       14      1469       0    false       0      64 0.80000 
       15      1482       0    false       0      64 0.80000 
       16      1394       0    false       0      64 0.80000 
       17      1391       0    false       0      64 0.80000 
       18      1452       0    false       0      64 0.80000 
       19      1486       0    false       0      64 0.80000 
       20     89949       0    false       0      64 0.80000 
       21     90041       0    false       0      64 0.80000 
       22     90128       0    false       0      64 0.80000 
       23     89967       0    false       0      64 0.80000 
       24     89925       0    false       0      64 0.80000 
       25      1418       0    false       0      64 0.80000 
       26      1431       0    false       0      64 0.80000 
       27      1396       0    false       0      64 0.80000 
       28      1464       0    false       0      64 0.80000 
       29      1445       0    false       0      64 0.80000 
       30      1485       0    false       0      64 0.80000 
       31      1460       0    false       0      64 0.80000 
       32      1335       0    false       0      64 0.80000 
       33      1419       0    false       0      64 0.80000 
       34      1424       0    false       0      64 0.80000 
       35      1435       0    false       0      64 0.80000 
       36      1469       0    false       0      64 0.80000 
       37      1468       0    false       0      64 0.80000 
       38      1428       0    false       0      64 0.80000 
       39      1457       0    false       0      64 0.80000 

