#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1440       0    false       0      64 0.80000 
        1      1394       0    false       0      64 0.80000 
        2      1393       0    false       0      64 0.80000 
        3      1457       0    false       0      64 0.80000 
        4      1424       0    false       0      64 0.80000 
        5      1477       0    false       0      64 0.80000 
        6      1440       0    false       0      64 0.80000 
        7      1435       0    false       0      64 0.80000 
        8      1440       0    false       0      64 0.80000 
        9      1466       0    false       0      64 0.80000 
       10     90010       0    false       0      64 0.80000 
       11     89894       0    false       0      64 0.80000 
       12     89914       0    false       0      64 0.80000 
       13     90236       0    false       0      64 0.80000 
       14     90081       0    false       0      64 0.80000 
       15      1302       0    false       0      64 0.80000 
       16      1401       0    false       0      64 0.80000 
       17      1358       0    false       0      64 0.80000 
       18      1410       0    false       0      64 0.80000 
       19      1441       0    false       0      64 0.80000 
       20      1482       0    false       0      64 0.80000 
       21      1449       0    false       0      64 0.80000 
       22      1361       0    false       0      64 0.80000 
       23      1454       0    false       0      64 0.80000 
       24      1441       0    false       0      64 0.80000 
       25      1425       0    false       0      64 0.80000 
       26      1465       0    false       0      64 0.80000 
       27      1508       0    false       0      64 0.80000 
       28      1419       0    false       0      64 0.80000 
       29      1444       0    false       0      64 0.80000 
       30      1394       0    false       0      64 0.80000 
       31      1459       0    false       0      64 0.80000 
       32      1461       0    false       0      64 0.80000 
       33      1460       0    false       0      64 0.80000 
       34      1476       0    false       0      64 0.80000 
       35      1439       0    false       0      64 0.80000 
       36      1471       0    false       0      64 0.80000 
       37      1434       0    false       0      64 0.80000 
       38      1444       0    false       0      64 0.80000 
       39      1530       0    false       0      64 0.80000 

