system.communication.setLocalSocketAddress = true
system.servers.num = 4
system.servers.passive = 1
system.servers.passive.initial = 3
optimization.enabled = true
optimization.measurement.offset = 5
optimization.location.client_measurement_frequency = 10
optimization.location.server_measurement_frequency = 20
optimization.monitoring_interval_length = 90
optimization.monitoring_offset = 5
optimization.distribution_interval_length = 50
system.servers.f = 1
system.initial.view = 0,1,2,7
system.bft = true
system.communication.bindaddress = 127.0.1.2

