#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1469       0    false       0      64 0.80000 
        1      1471       0    false       0      64 0.80000 
        2      1422       0    false       0      64 0.80000 
        3      1409       0    false       0      64 0.80000 
        4      1409       0    false       0      64 0.80000 
        5      1385       0    false       0      64 0.80000 
        6      1410       0    false       0      64 0.80000 
        7      1424       0    false       0      64 0.80000 
        8      1443       0    false       0      64 0.80000 
        9      1364       0    false       0      64 0.80000 
       10      1380       0    false       0      64 0.80000 
       11      1422       0    false       0      64 0.80000 
       12      1440       0    false       0      64 0.80000 
       13      1394       0    false       0      64 0.80000 
       14      1453       0    false       0      64 0.80000 
       15     90131       0    false       0      64 0.80000 
       16     90139       0    false       0      64 0.80000 
       17     90151       0    false       0      64 0.80000 
       18     89959       0    false       0      64 0.80000 
       19     90013       0    false       0      64 0.80000 
       20      1420       0    false       0      64 0.80000 
       21      1424       0    false       0      64 0.80000 
       22      1430       0    false       0      64 0.80000 
       23      1443       0    false       0      64 0.80000 
       24      1473       0    false       0      64 0.80000 
       25      1417       0    false       0      64 0.80000 
       26      1419       0    false       0      64 0.80000 
       27      1432       0    false       0      64 0.80000 
       28      1326       0    false       0      64 0.80000 
       29      1454       0    false       0      64 0.80000 
       30      1383       0    false       0      64 0.80000 
       31      1429       0    false       0      64 0.80000 
       32      1348       0    false       0      64 0.80000 
       33      1422       0    false       0      64 0.80000 
       34      1459       0    false       0      64 0.80000 
       35      1452       0    false       0      64 0.80000 
       36      1373       0    false       0      64 0.80000 
       37      1504       0    false       0      64 0.80000 
       38      1418       0    false       0      64 0.80000 
       39      1433       0    false       0      64 0.80000 

