#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1380       0    false       0      64 0.80000 
        1      1490       0    false       0      64 0.80000 
        2      1430       0    false       0      64 0.80000 
        3      1478       0    false       0      64 0.80000 
        4      1454       0    false       0      64 0.80000 
        5      1446       0    false       0      64 0.80000 
        6      1437       0    false       0      64 0.80000 
        7      1444       0    false       0      64 0.80000 
        8      1428       0    false       0      64 0.80000 
        9      1329       0    false       0      64 0.80000 
       10      1406       0    false       0      64 0.80000 
       11      1431       0    false       0      64 0.80000 
       12      1505       0    false       0      64 0.80000 
       13      1459       0    false       0      64 0.80000 
       14      1388       0    false       0      64 0.80000 
       15      1455       0    false       0      64 0.80000 
       16      1447       0    false       0      64 0.80000 
       17      1433       0    false       0      64 0.80000 
       18      1325       0    false       0      64 0.80000 
       19      1395       0    false       0      64 0.80000 
       20      1434       0    false       0      64 0.80000 
       21      1356       0    false       0      64 0.80000 
       22      1429       0    false       0      64 0.80000 
       23      1465       0    false       0      64 0.80000 
       24      1491       0    false       0      64 0.80000 
       25      1472       0    false       0      64 0.80000 
       26      1469       0    false       0      64 0.80000 
       27      1416       0    false       0      64 0.80000 
       28      1433       0    false       0      64 0.80000 
       29      1398       0    false       0      64 0.80000 
       30     89906       0    false       0      64 0.80000 
       31     89904       0    false       0      64 0.80000 
       32     90190       0    false       0      64 0.80000 
       33     90052       0    false       0      64 0.80000 
       34     89954       0    false       0      64 0.80000 
       35      1433       0    false       0      64 0.80000 
       36      1407       0    false       0      64 0.80000 
       37      1468       0    false       0      64 0.80000 
       38      1481       0    false       0      64 0.80000 
       39      1448       0    false       0      64 0.80000 

