#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1415       0    false       0      64 0.80000 
        1      1463       0    false       0      64 0.80000 
        2      1454       0    false       0      64 0.80000 
        3      1453       0    false       0      64 0.80000 
        4      1448       0    false       0      64 0.80000 
        5      1477       0    false       0      64 0.80000 
        6      1473       0    false       0      64 0.80000 
        7      1405       0    false       0      64 0.80000 
        8      1475       0    false       0      64 0.80000 
        9      1394       0    false       0      64 0.80000 
       10      1414       0    false       0      64 0.80000 
       11      1403       0    false       0      64 0.80000 
       12      1437       0    false       0      64 0.80000 
       13      1452       0    false       0      64 0.80000 
       14      1438       0    false       0      64 0.80000 
       15     90042       0    false       0      64 0.80000 
       16     89963       0    false       0      64 0.80000 
       17     90050       0    false       0      64 0.80000 
       18     90248       0    false       0      64 0.80000 
       19     89997       0    false       0      64 0.80000 
       20      1443       0    false       0      64 0.80000 
       21      1513       0    false       0      64 0.80000 
       22      1399       0    false       0      64 0.80000 
       23      1446       0    false       0      64 0.80000 
       24      1431       0    false       0      64 0.80000 
       25      1415       0    false       0      64 0.80000 
       26      1414       0    false       0      64 0.80000 
       27      1399       0    false       0      64 0.80000 
       28      1384       0    false       0      64 0.80000 
       29      1498       0    false       0      64 0.80000 
       30      1340       0    false       0      64 0.80000 
       31      1436       0    false       0      64 0.80000 
       32      1418       0    false       0      64 0.80000 
       33      1476       0    false       0      64 0.80000 
       34      1405       0    false       0      64 0.80000 
       35      1470       0    false       0      64 0.80000 
       36      1433       0    false       0      64 0.80000 
       37      1396       0    false       0      64 0.80000 
       38      1418       0    false       0      64 0.80000 
       39      1424       0    false       0      64 0.80000 

