#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1376       0    false       0      64 0.80000 
        1      1472       0    false       0      64 0.80000 
        2      1426       0    false       0      64 0.80000 
        3      1450       0    false       0      64 0.80000 
        4      1418       0    false       0      64 0.80000 
        5      1394       0    false       0      64 0.80000 
        6      1379       0    false       0      64 0.80000 
        7      1370       0    false       0      64 0.80000 
        8      1429       0    false       0      64 0.80000 
        9      1464       0    false       0      64 0.80000 
       10      1419       0    false       0      64 0.80000 
       11      1435       0    false       0      64 0.80000 
       12      1458       0    false       0      64 0.80000 
       13      1403       0    false       0      64 0.80000 
       14      1363       0    false       0      64 0.80000 
       15      1405       0    false       0      64 0.80000 
       16      1405       0    false       0      64 0.80000 
       17      1434       0    false       0      64 0.80000 
       18      1460       0    false       0      64 0.80000 
       19      1391       0    false       0      64 0.80000 
       20      1432       0    false       0      64 0.80000 
       21      1390       0    false       0      64 0.80000 
       22      1418       0    false       0      64 0.80000 
       23      1388       0    false       0      64 0.80000 
       24      1419       0    false       0      64 0.80000 
       25      1418       0    false       0      64 0.80000 
       26      1426       0    false       0      64 0.80000 
       27      1418       0    false       0      64 0.80000 
       28      1366       0    false       0      64 0.80000 
       29      1430       0    false       0      64 0.80000 
       30      1391       0    false       0      64 0.80000 
       31      1428       0    false       0      64 0.80000 
       32      1437       0    false       0      64 0.80000 
       33      1427       0    false       0      64 0.80000 
       34      1465       0    false       0      64 0.80000 
       35     89910       0    false       0      64 0.80000 
       36     90000       0    false       0      64 0.80000 
       37     89929       0    false       0      64 0.80000 
       38     89974       0    false       0      64 0.80000 
       39     89921       0    false       0      64 0.80000 

