#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1417       0    false       0      64 0.80000 
        1      1446       0    false       0      64 0.80000 
        2      1389       0    false       0      64 0.80000 
        3      1415       0    false       0      64 0.80000 
        4      1468       0    false       0      64 0.80000 
        5     89907       0    false       0      64 0.80000 
        6     90040       0    false       0      64 0.80000 
        7     89884       0    false       0      64 0.80000 
        8     90028       0    false       0      64 0.80000 
        9     90110       0    false       0      64 0.80000 
       10      1365       0    false       0      64 0.80000 
       11      1496       0    false       0      64 0.80000 
       12      1374       0    false       0      64 0.80000 
       13      1478       0    false       0      64 0.80000 
       14      1391       0    false       0      64 0.80000 
       15      1451       0    false       0      64 0.80000 
       16      1410       0    false       0      64 0.80000 
       17      1330       0    false       0      64 0.80000 
       18      1383       0    false       0      64 0.80000 
       19      1493       0    false       0      64 0.80000 
       20      1399       0    false       0      64 0.80000 
       21      1456       0    false       0      64 0.80000 
       22      1428       0    false       0      64 0.80000 
       23      1403       0    false       0      64 0.80000 
       24      1406       0    false       0      64 0.80000 
       25      1439       0    false       0      64 0.80000 
       26      1406       0    false       0      64 0.80000 
       27      1418       0    false       0      64 0.80000 
       28      1437       0    false       0      64 0.80000 
       29      1418       0    false       0      64 0.80000 
       30      1482       0    false       0      64 0.80000 
       31      1441       0    false       0      64 0.80000 
       32      1445       0    false       0      64 0.80000 
       33      1431       0    false       0      64 0.80000 
       34      1419       0    false       0      64 0.80000 
       35      1465       0    false       0      64 0.80000 
       36      1434       0    false       0      64 0.80000 
       37      1442       0    false       0      64 0.80000 
       38      1439       0    false       0      64 0.80000 
       39      1421       0    false       0      64 0.80000 

