#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1409       0    false       0      64 0.80000 
        1      1436       0    false       0      64 0.80000 
        2      1405       0    false       0      64 0.80000 
        3      1441       0    false       0      64 0.80000 
        4      1436       0    false       0      64 0.80000 
        5      1455       0    false       0      64 0.80000 
        6      1387       0    false       0      64 0.80000 
        7      1458       0    false       0      64 0.80000 
        8      1349       0    false       0      64 0.80000 
        9      1397       0    false       0      64 0.80000 
       10      1435       0    false       0      64 0.80000 
       11      1415       0    false       0      64 0.80000 
       12      1391       0    false       0      64 0.80000 
       13      1432       0    false       0      64 0.80000 
       14      1387       0    false       0      64 0.80000 
       15      1421       0    false       0      64 0.80000 
       16      1431       0    false       0      64 0.80000 
       17      1416       0    false       0      64 0.80000 
       18      1344       0    false       0      64 0.80000 
       19      1381       0    false       0      64 0.80000 
       20     90097       0    false       0      64 0.80000 
       21     90030       0    false       0      64 0.80000 
       22     90094       0    false       0      64 0.80000 
       23     90009       0    false       0      64 0.80000 
       24     89845       0    false       0      64 0.80000 
       25      1406       0    false       0      64 0.80000 
       26      1386       0    false       0      64 0.80000 
       27      1407       0    false       0      64 0.80000 
       28      1479       0    false       0      64 0.80000 
       29      1401       0    false       0      64 0.80000 
       30      1515       0    false       0      64 0.80000 
       31      1452       0    false       0      64 0.80000 
       32      1392       0    false       0      64 0.80000 
       33      1411       0    false       0      64 0.80000 
       34      1448       0    false       0      64 0.80000 
       35      1381       0    false       0      64 0.80000 
       36      1418       0    false       0      64 0.80000 
       37      1380       0    false       0      64 0.80000 
       38      1427       0    false       0      64 0.80000 
       39      1409       0    false       0      64 0.80000 

