#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1384       0    false       0      64 0.80000 
        1      1534       0    false       0      64 0.80000 
        2      1423       0    false       0      64 0.80000 
        3      1449       0    false       0      64 0.80000 
        4      1412       0    false       0      64 0.80000 
        5      1481       0    false       0      64 0.80000 
        6      1474       0    false       0      64 0.80000 
        7      1395       0    false       0      64 0.80000 
        8      1453       0    false       0      64 0.80000 
        9      1389       0    false       0      64 0.80000 
       10      1432       0    false       0      64 0.80000 
       11      1420       0    false       0      64 0.80000 
       12      1403       0    false       0      64 0.80000 
       13      1437       0    false       0      64 0.80000 
       14      1434       0    false       0      64 0.80000 
       15      1411       0    false       0      64 0.80000 
       16      1405       0    false       0      64 0.80000 
       17      1477       0    false       0      64 0.80000 
       18      1450       0    false       0      64 0.80000 
       19      1435       0    false       0      64 0.80000 
       20      1403       0    false       0      64 0.80000 
       21      1395       0    false       0      64 0.80000 
       22      1414       0    false       0      64 0.80000 
       23      1467       0    false       0      64 0.80000 
       24      1400       0    false       0      64 0.80000 
       25      1464       0    false       0      64 0.80000 
       26      1432       0    false       0      64 0.80000 
       27      1456       0    false       0      64 0.80000 
       28      1484       0    false       0      64 0.80000 
       29      1437       0    false       0      64 0.80000 
       30     89986       0    false       0      64 0.80000 
       31     90077       0    false       0      64 0.80000 
       32     90163       0    false       0      64 0.80000 
       33     89902       0    false       0      64 0.80000 
       34     89918       0    false       0      64 0.80000 
       35      1396       0    false       0      64 0.80000 
       36      1434       0    false       0      64 0.80000 
       37      1461       0    false       0      64 0.80000 
       38      1441       0    false       0      64 0.80000 
       39      1407       0    false       0      64 0.80000 

