#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1368       0    false       0      64 0.80000 
        1      1409       0    false       0      64 0.80000 
        2      1431       0    false       0      64 0.80000 
        3      1427       0    false       0      64 0.80000 
        4      1428       0    false       0      64 0.80000 
        5      1389       0    false       0      64 0.80000 
        6      1434       0    false       0      64 0.80000 
        7      1421       0    false       0      64 0.80000 
        8      1420       0    false       0      64 0.80000 
        9      1480       0    false       0      64 0.80000 
       10      1478       0    false       0      64 0.80000 
       11      1408       0    false       0      64 0.80000 
       12      1391       0    false       0      64 0.80000 
       13      1356       0    false       0      64 0.80000 
       14      1351       0    false       0      64 0.80000 
       15      1423       0    false       0      64 0.80000 
       16      1371       0    false       0      64 0.80000 
       17      1422       0    false       0      64 0.80000 
       18      1443       0    false       0      64 0.80000 
       19      1430       0    false       0      64 0.80000 
       20      1443       0    false       0      64 0.80000 
       21      1392       0    false       0      64 0.80000 
       22      1413       0    false       0      64 0.80000 
       23      1474       0    false       0      64 0.80000 
       24      1435       0    false       0      64 0.80000 
       25     90005       0    false       0      64 0.80000 
       26     89972       0    false       0      64 0.80000 
       27     90015       0    false       0      64 0.80000 
       28     90084       0    false       0      64 0.80000 
       29     89942       0    false       0      64 0.80000 
       30      1406       0    false       0      64 0.80000 
       31      1356       0    false       0      64 0.80000 
       32      1341       0    false       0      64 0.80000 
       33      1407       0    false       0      64 0.80000 
       34      1390       0    false       0      64 0.80000 
       35      1470       0    false       0      64 0.80000 
       36      1445       0    false       0      64 0.80000 
       37      1407       0    false       0      64 0.80000 
       38      1376       0    false       0      64 0.80000 
       39      1439       0    false       0      64 0.80000 

