#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1407       0    false       0      64 0.80000 
        1      1414       0    false       0      64 0.80000 
        2      1405       0    false       0      64 0.80000 
        3      1449       0    false       0      64 0.80000 
        4      1407       0    false       0      64 0.80000 
        5      1504       0    false       0      64 0.80000 
        6      1437       0    false       0      64 0.80000 
        7      1353       0    false       0      64 0.80000 
        8      1426       0    false       0      64 0.80000 
        9      1443       0    false       0      64 0.80000 
       10      1477       0    false       0      64 0.80000 
       11      1440       0    false       0      64 0.80000 
       12      1441       0    false       0      64 0.80000 
       13      1395       0    false       0      64 0.80000 
       14      1504       0    false       0      64 0.80000 
       15      1445       0    false       0      64 0.80000 
       16      1430       0    false       0      64 0.80000 
       17      1409       0    false       0      64 0.80000 
       18      1401       0    false       0      64 0.80000 
       19      1482       0    false       0      64 0.80000 
       20      1400       0    false       0      64 0.80000 
       21      1417       0    false       0      64 0.80000 
       22      1397       0    false       0      64 0.80000 
       23      1430       0    false       0      64 0.80000 
       24      1454       0    false       0      64 0.80000 
       25     89926       0    false       0      64 0.80000 
       26     90087       0    false       0      64 0.80000 
       27     90105       0    false       0      64 0.80000 
       28     90067       0    false       0      64 0.80000 
       29     90032       0    false       0      64 0.80000 
       30      1395       0    false       0      64 0.80000 
       31      1453       0    false       0      64 0.80000 
       32      1395       0    false       0      64 0.80000 
       33      1422       0    false       0      64 0.80000 
       34      1511       0    false       0      64 0.80000 
       35      1422       0    false       0      64 0.80000 
       36      1379       0    false       0      64 0.80000 
       37      1416       0    false       0      64 0.80000 
       38      1437       0    false       0      64 0.80000 
       39      1376       0    false       0      64 0.80000 

