#    Step     Count    Size Readonly   Delay  Worker   Reuse
        0      1343       0    false       0      64 0.80000 
        1      1454       0    false       0      64 0.80000 
        2      1473       0    false       0      64 0.80000 
        3      1458       0    false       0      64 0.80000 
        4      1479       0    false       0      64 0.80000 
        5      1333       0    false       0      64 0.80000 
        6      1433       0    false       0      64 0.80000 
        7      1502       0    false       0      64 0.80000 
        8      1371       0    false       0      64 0.80000 
        9      1499       0    false       0      64 0.80000 
       10      1425       0    false       0      64 0.80000 
       11      1442       0    false       0      64 0.80000 
       12      1381       0    false       0      64 0.80000 
       13      1448       0    false       0      64 0.80000 
       14      1451       0    false       0      64 0.80000 
       15      1406       0    false       0      64 0.80000 
       16      1422       0    false       0      64 0.80000 
       17      1501       0    false       0      64 0.80000 
       18      1433       0    false       0      64 0.80000 
       19      1393       0    false       0      64 0.80000 
       20      1415       0    false       0      64 0.80000 
       21      1409       0    false       0      64 0.80000 
       22      1415       0    false       0      64 0.80000 
       23      1367       0    false       0      64 0.80000 
       24      1449       0    false       0      64 0.80000 
       25      1434       0    false       0      64 0.80000 
       26      1394       0    false       0      64 0.80000 
       27      1407       0    false       0      64 0.80000 
       28      1417       0    false       0      64 0.80000 
       29      1397       0    false       0      64 0.80000 
       30      1434       0    false       0      64 0.80000 
       31      1502       0    false       0      64 0.80000 
       32      1378       0    false       0      64 0.80000 
       33      1388       0    false       0      64 0.80000 
       34      1404       0    false       0      64 0.80000 
       35     89986       0    false       0      64 0.80000 
       36     90200       0    false       0      64 0.80000 
       37     90104       0    false       0      64 0.80000 
       38     89894       0    false       0      64 0.80000 
       39     90087       0    false       0      64 0.80000 

